[submodule "htdocs/custom/lead"]
	path = htdocs/custom/lead
	url = git@git.symeos.com:module-lead.git
[submodule "htdocs/custom/mailjet"]
        path = htdocs/custom/mailjet
        url = git@git.symeos.com:module-mailjet.git
[submodule "htdocs/custom/stock"]
        path = htdocs/custom/stock
        url = git@git.symeos.com:module-stock.git
